section .container {
  box-sizing: border-box;
  max-width: 1200px;
  width: 100%;
}


.flex {
  align-items: center;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.proj {
  display: inline-block;
  position: relative;
}


.card {
  height: 300px;
  max-width: 100%;
  width: 300px;
}

.project-name {
  z-index: 2;
  text-align: center;
  right: 150px;
  bottom: 150px;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s;
  background-color: white;
}

.proj:hover .project-name{
  visibility: visible;
  opacity: 1;
}
